.product-card {
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius-xl);
  padding: var(--space-10);
  margin: 0 var(--space-10) var(--space-15) var(--space-10);
  background-color: rgba(255, 255, 255, 1);
  box-shadow: var(--shadow-card-standart);
}

.product-card.featured {
  padding: calc(var(--space-10) - 2px);
  border: 2px solid transparent;
  background: var(--gradient-card-featured-bg) padding-box,
    var(--gradient-card-featured-border) border-box;
  box-shadow: var(--shadow-card-featured);
}

.featured.product-card .product-details {
  margin-top: var(--space-10);
}

.featured.product-card .sale-point {
  margin-top: var(--space-10);
}

/*
  Header Component Start
*/

.product-card .card-header {
  margin: 0;
  font-size: 1.125rem;
}

/*
  Header Component End
*/

/*
  Recommended Badge Component Start
*/

.recommended-badge {
  position: absolute;
  width: fit-content;
  margin-top: calc(-1 * var(--space-10));
  padding: var(--space-3) var(--space-6);
  border-bottom-left-radius: var(--border-radius-xs);
  border-bottom-right-radius: var(--border-radius-xs);
  background: var(--gradient-card-featured-border);
}

.recommended-badge p {
  font-weight: 700;
  color: white;
  font-size: 0.75rem;
  line-height: 1.25rem;
}

/*
  Recommended Badge Component End
*/

/*
  Reviews Component Start
*/
.product-card-reviews {
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--space-2);
}

.product-card-reviews p {
  line-height: 1.625rem;
}

.product-card-reviews .stars {
  display: flex;
  margin-right: var(--space-5);
  gap: 0.125rem;
}

.product-card-reviews .stars span {
  width: 1.375rem;
  height: 1.375rem;
}

.product-card-reviews .stars span.light {
  opacity: 0.5;
}
/*
  Reviews Component End
*/

/*
  Preview Thumbnail Component Start
*/
.preview-thumbnail {
  display: flex;
  justify-content: center;
  margin: var(--space-5) auto;
  padding: 0 var(--space-10);
  gap: var(--space-5);
}

.preview-thumbnail img.preview {
  max-height: 12em;
  width: 100%;
  object-fit: contain;
}

.preview-thumbnail img.brand-logo {
  width: 75%;
  height: 100%;
  object-fit: contain;
}

/*
  Preview Thumbnail Component End
*/

/*
  Short Description Component Start
*/
.short-description {
  margin-top: var(--space-5);
}

/*
  Short Description Component End
*/

/*
  Additional Actions Component Start
*/
.additional-actions-container {
  display: none;
  align-items: center;
  margin-bottom: var(--space-3);
  gap: var(--space-3);
}

.additional-actions-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.25rem;
  background-color: transparent;
  border: 1px solid var(--color-grey-200);
  border-radius: var(--border-radius-xs);
  cursor: pointer;
}

.additional-actions-container button .icon {
  max-width: 1.3rem;
  max-height: 1.3rem;
}

.additional-actions-container button:hover,
.additional-actions-container button .icon:hover {
  border-color: var(--color-primary);
}

/*
  Additional Actions Component End
*/

/*
  Price Component Start
*/
.product-price-container {
  margin-top: var(--space-5);
}

.product-price-container p.old-price {
  font-weight: 600;
  font-size: 0.875em;
  color: var(--color-grey-200);
}

.product-price-container p.new-price {
  margin-top: -0.25em;
  font-weight: 600;
  font-size: 1.875em;
}

.product-price-container p.new-price.discounted {
  color: var(--color-destructive);
}

.product-price-container .discounted-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--space-5);
}

.product-price-container p.save-tag {
  font-size: 0.75em;
  margin-bottom: 0.45em;
  color: var(--color-destructive);
  background-color: var(--color-destructive-bg);
  border-radius: var(--border-radius-xs);
  padding: var(--space-2) var(--space-3);
}

/*
  Price Component End
*/

/*
  Stock Limit Start
*/
.stock-limit-container {
  margin-top: var(--space-10);
}

.stock-limit-container .progress-bar {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 0.25em;
  background-color: var(--color-grey-200);
  border-radius: var(--border-radius-rounded);
}

.stock-limit-container .progress-bar .progress {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--color-green-300);
  border-radius: var(--border-radius-rounded);
}

.stock-limit-container .progress-bar .progress.lowstock {
  background-color: var(--color-destructive);
}

.stock-limit-container .stock-text {
  margin-top: var(--space-5);
  color: var(--color-grey-400);
  font-size: 0.75em;
}

.featured .stock-limit-container .stock-text {
  color: var(--color-destructive);
}

/*
  Stock Limit End
*/

/*
  Sale Points Component Start
*/
.sale-points-container {
  margin-top: var(--space-10);
}

.sale-points-container .list-with-icons span.bullet-point {
  min-width: 2rem;
}

.sale-points-container .list-with-icons li {
  align-items: center;
}

/*
  Sale Points Component End
*/

/*
  ================
  DESKTOP DEVICES
  ================
*/

@media only screen and (min-width: 60rem) {
  main {
    max-width: 80rem;
  }

  .product-card {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: var(--space-10);
    gap: var(--space-10);
  }

  .product-card .product-details {
    display: grid;
    grid-template-areas:
      "thumbnail-preview product-card-header product-card-header"
      "thumbnail-preview short-description short-description"
      "thumbnail-preview short-description short-description"
      "thumbnail-preview additional-actions additional-actions";
  }

  .product-card .product-card-header {
    grid-area: product-card-header;
  }

  .product-card .short-description {
    grid-area: short-description;
    margin-top: var(--space-5);
  }

  .product-card .additional-actions-container {
    display: flex;
    grid-area: additional-actions;
  }

  .product-card .sale-point {
    display: flex;
    max-width: 15.5rem;
    flex-direction: column;
    justify-content: space-between;
  }

  .product-card .product-price-container {
    margin-top: 0;
  }

  .product-card .preview-thumbnail {
    grid-area: thumbnail-preview;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }

  .product-card .preview-thumbnail img.preview {
    max-height: 12.5rem;
    width: 100%;
    object-fit: contain;
  }

  .product-card .discounted-container {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--space-2);
  }
}
