.icon {
  width: 1.5rem;
  height: 1.5rem;
}

.icon-bullet-point {
  width: 1rem;
  height: 1rem;
  background: url(../assets/images/icons/tick.png) no-repeat;
  background-size: 0.8rem;
}

.icon-van {
  background: url(../assets/images/icons/van.png) no-repeat;
  background-size: 1.25rem;
}

.icon-cart {
  background: url(../assets/images/icons/cart.png) no-repeat;
  background-size: 1.15rem;
}

.icon-star {
  background: url(../assets/images/icons/star.png) no-repeat;
  background-size: 1.35rem;
}

.icon-bar-chart {
  background: url(../assets/images/icons/bar_chart.png) no-repeat 0.075rem;
  background-size: 80%;
}

.icon-heart-fill {
  background: url(../assets/images/icons/heart_fill.png) no-repeat 0 0.275rem;
  background-size: 100%;
}
