* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', 'Roboto', 'Helvetica Neue',
  sans-serif;

  --color-grey-100: rgba(207, 207, 207, 1);
  --color-grey-200: rgba(191, 191, 191, 1);
  --color-grey-400: rgba(130, 130, 130, 1);

  --color-green-300: rgba(39, 174, 96, 1);

  --color-destructive: rgba(237, 20, 61, 1);
  --color-destructive-bg: rgba(237, 20, 61, 0.2);

  --border-radius-xs: 4px;
  --border-radius-sm: 5px;
  --border-radius-xl: 20px;
  --border-radius-round: 100px;

  --space-5: 0.625rem;
}

body {
  margin: 0;
}
