* {
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", "Roboto", "Helvetica Neue", sans-serif;

  --color-grey-100: rgba(207, 207, 207, 1);
  --color-grey-200: rgba(191, 191, 191, 1);
  --color-grey-400: rgba(130, 130, 130, 1);

  --color-green-300: rgba(39, 174, 96, 1);

  --color-primary: rgba(153, 36, 120, 1);
  --color-destructive: rgba(237, 20, 61, 1);
  --color-destructive-bg: rgba(237, 20, 61, 0.2);

  --border-radius-xs: 4px;
  --border-radius-sm: 5px;
  --border-radius-xl: 20px;
  --border-radius-rounded: 100px;

  --space-2: 0.25rem;
  --space-3: 0.375rem;
  --space-4: 0.5rem;
  --space-5: 0.625rem;
  --space-6: 0.75rem;
  --space-7: 0.875rem;
  --space-8: 1rem;
  --space-10: 1.25rem;
  --space-15: 1.875rem;

  --gradient-cta-button: linear-gradient(
    135deg,
    rgba(230, 21, 119, 1),
    var(--color-primary) 60%
  );
  --gradient-card-featured-border: linear-gradient(
    90deg,
    rgba(51, 51, 51, 1),
    rgba(30, 30, 30, 1)
  );
  --gradient-card-featured-bg: linear-gradient(white, white);

  --shadow-card-standart: 0 0 20px rgba(0, 0, 0, 0.12);
  --shadow-card-featured: 0 0 20px rgba(230, 21, 119, 1);
}

body {
  margin: 0;
}

main {
  margin: var(--space-10) auto;
}

p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  margin: 0;
  padding: 0;
}

span.strikethrough {
  position: relative;
  padding: 0 0.35em 0 0.25em;
}

span.strikethrough::before {
  position: absolute;
  content: "";
  left: 0;
  top: 45%;
  right: 0;
  border-top: 1px solid;
  border-color: inherit;
  transform: rotate(-5.5deg);
}
